@font-face {
    font-family: 'RobotoBold';
    src: url('../../Assets/Fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'RobotoHead';
    src: url('../../Assets/Fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'RobotoGeneral';
    src: url('../../Assets/Fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../Assets/Fonts/Roboto-Light.ttf');
    font-weight:normal;
    font-style: normal;
}

.Our-Clients h1, .About-CYOL h1, .Digital-Solutions h1 {
    font-family: 'RobotoHead';
    color: rgb(0, 0, 0);
}

.Our-Clients span, .About-CYOL span, .Digital-Solutions span{
    color:  #007D50;
}

.Crop-Management h1 {
    font-family: 'RobotoHead';
    color: #000000;
}

.Crop-Management span {
    color: #e4e4e4;
}

.Hero-Section {
    height: calc(100vh - 120px);
    max-height: calc(700px - 120px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 60px;
}

.Font-Default h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:'RobotoBold';
}

.Font-Default h5 {
   color: rgba(255, 255, 255, 0.829);
   font-family:'Roboto';
   font-size: 25px;
}

.Font-Scrolled h1{
    color: rgba(255, 255, 255, 0.459);
    font-size: 50px;
    font-family:'RobotoBold';
}

.Font-Scrolled h5 {
    color: rgba(255, 255, 255, 0.377);
   font-family:'Roboto';
   font-size: 25px;
}

.Align-Hero-Button {
    width: 100%;
}

.Hero-Section button {
    margin-top: 19px;
    width: 200px;
    height: 60px;
    border-radius: 80px;
    font-weight: 500;
    
}

.Font-Default button {
    background: #ffffff18;
    border-style:solid;
    border-color: #ffff;
    color: rgb(255, 255, 255);
}

.Font-Scrolled button {
    background: #ffffff18;
    border-style:solid;
    border-color: #ffffff7a;
    color: rgba(255, 255, 255, 0.493);
}

.Heading-Title {
    margin-bottom: 50px;
    margin-top: 20px;
}

.Align-Section {
    padding-bottom: 40px;
}

.Body-Contents {
    background: #ffff;
}

.Single-Client {
    box-shadow: 0px 8px 10px 0px #00000023;
}

.Our-Clients {
    background: #ececec;
}

.Client-Card-Image {
    background: #007D50;
}

.Client-Single-Card img {
    width: 100%;
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.Client-Status{
    background: #ffff;
}

.Client-Status h5, .About-Card h5, .Single-Solution h5 {
    font-family: 'RobotoBold';
    font-size: 17px;
    color: black;
}

.Client-Status p , .About-Card p, .Single-Solution li{
    margin-bottom: 0;
    font-size: 16px;
   font-family: 'Roboto';
    color: black;
}

.About-Card img {
    width: 100%;
    margin-bottom: 20px;
}

.Crop-Management {
    background: #007D50;
    padding-top: 80px;
    padding-bottom: 220px;
}

.Crop-Management-Cards {
    margin-top: -210px;
}

.Align-Management-Card {
    background: #0000009d;
    height: 100%;
    display:flex;
    align-items: flex-end;
}

.Align-Management-Card h2 {
    font-family: 'RobotoGeneral';
    color: #ffffffc5;
    font-size: 33px;
}

.ViewData, .Management, .Planning {
    height: 450px;
    box-shadow: 0px 5px 10px 0px #0000005d;
}

.Planning {
    background-image: url("../../Assets/Images/Management1.jpg");
    background-size:cover;
    background-position: center;
}

.Management {
    background-image: url("../../Assets/Images/Management2.jpg");
    background-size:cover;
    background-position: center;
}

.ViewData {
    background-image: url("../../Assets/Images/Management3.jpg");
    background-size:cover;
    background-position: center;
}

.Digital-Solutions {
    padding-top: 100px;
    padding-bottom: 80px;
}

.Single-Solution img {
    width: 50px;
}