@font-face {
    font-family: 'RobotoNav';
    src: url('../../Assets/Fonts/Roboto-Regular.ttf');
}

.Navlinks button{
    border-style: none;
    background: #00000000;
    color: rgb(255, 255, 255);
    font-family: 'RobotoNav';
    font-weight: 500;
    font-size: 17px;
    padding-bottom: 0px;
    padding-right: 0px;
    text-align: start;
    padding-left: 0;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .Navlinks button{
        margin-top: 6px;
        margin-bottom: 6px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 5000px) {
    .Navlinks button{
        margin-left: 30px;
    }
}