.Navlinks button{
    margin-left: 30px;
    border-style: none;
    background: #ffffff00;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 17px;
    padding-top: 1px;
    padding-right: 0px;
}