.App {
    
}

.Hero-Image {
    position: fixed;
    background-image: url("../src/Assets/Images/CYOL_Hero.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-height: 700px;
    z-index: -1;
}

.Align-Hero {
    background: #00000080;
    min-width: 100%;
    min-height: 100%;
}

.Header-Margin {
    width: 100%;
    height: 40px;
}